<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.imazjav0017.expensemanager">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/savings"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            android:configChanges="orientation|screenSize"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="http://52.15.198.184:80/parse/" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="dda5075f226aa3b310268d7cce48363b48f18370" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="32d7b6e329ff9965b7f5f365b18f8111a7bf9afa" />

        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".SignUpActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ExpenseActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".AddExpenseActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".ExpenseDescription">
            android:configChanges="orientation|screenSize"
        </activity>
        <activity android:name=".SearchActivity" />
        <activity android:name=".StatisticsActivity" />
        <activity android:name=".MonthlyExpense" />
    </application>

</manifest>